@model SweeTron.Models.Passo

@{
    ViewBag.Title = "Details";
}

<h2>Siga o seguinte passo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            
            <iframe src="" width="560" height="315" frameborder="0" allowfullscreen></iframe>
        </dd>


        @if (ViewBag.ids_passos.Length == 0)
        {
           <p>Finalizou a sua receita</p>
           @Html.ActionLink("Retornar ao menu principal","Index","Utilizador",null,null)
        }
        else
        {
            @Html.ActionLink("Proximo passo", "Details", new { id = ViewBag.ids_passos[0], array = String.Join("-", ViewBag.ids_passos) })
        }
    </dl>
</div>
