@model SweeTron.Models.Passo

@{
    ViewBag.Title = "Details";
}

<head>
    <link rel="stylesheet" href="/css/Receita.css" />
</head>


<h2>Siga o seguinte passo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            <div class="frame">
                <iframe width="560"
                        height="315"
                        src="@Html.DisplayFor(model => model.Video)"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </dd>


        @if (ViewBag.ids_passos.Length == 0)
        {
            <p>Finalizou a sua receita</p>
            @Html.ActionLink("Retornar ao menu principal", "Index", "Utilizador", null, null)
        }
        else
        {
            @Html.ActionLink("Proximo passo", "Details", new { id = ViewBag.ids_passos[0], array = String.Join("-", ViewBag.ids_passos) })
        }

        @Html.ActionLink("Voltar atrás", null, null, null, new { href = Request.UrlReferrer })
    </dl>
</div>
