@{
    ViewBag.Title = "Sweetron";
}

<link rel="stylesheet" href="~/css/site.css" type="text/css"/>

<body>
    <div style="width:150px; margin:0 auto;">
        <div class="btn-group-vertical" style="color: black; font-weight: lighter;">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/Receita/Index'">Cozinhar Receita</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/Utilizador/Index'">Favoritos</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/Utilizador/Index'">Histórico</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/Utilizador/Index'">Filtro</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/Utilizador/Index'">Plano Semanal</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/Utilizador/Index'">Avaliar Receita</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/Home/Index'" >Terminar Sessão</button>
        </div>
    </div>



    <div class="plano_semanal">
        <tbody>
            <h3 style="font-weight:lighter; color: black;">Plano Semanal</h3>
            <tr class="table-dark">
                <th scope="row">Segunda</th>
                <td>@Html.ActionLink("Nome da Receita", "www.google.pt")</td>
            </tr>
            </br>
            <tr class="table-dark">
                <th scope="row">Segunda</th>
                <td>@Html.ActionLink("Nome da Receita", "www.google.pt")</td>
            </tr>
            </br>
            <tr class="table-dark">
                <th scope="row">Segunda</th>
                <td>@Html.ActionLink("Nome da Receita", "www.google.pt")</td>
            </tr>
            </br>
            <tr class="table-dark">
                <th scope="row">Segunda</th>
                <td>@Html.ActionLink("Nome da Receita", "www.google.pt")</td>
            </tr>
            </br>
            <tr class="table-dark">
                <th scope="row">Segunda</th>
                <td>@Html.ActionLink("Nome da Receita", "www.google.pt")</td>
            </tr>
            </br>
            <tr class="table-dark">
                <th scope="row">Segunda</th>
                <td>@Html.ActionLink("Nome da Receita", "www.google.pt")</td>
            </tr>
        </tbody>

    </div>


</body>