@{
    ViewBag.Title = "Sweetron";
}

<link rel="stylesheet" href="~/css/site.css" type="text/css"/>

<body>
    <div style="width:150px; margin:0 auto;">
            <div class="btn-group-vertical">
                <button style="margin-top:8px" type="button" class="btn btn-secundary btn-lg bt">@Html.ActionLink("Cozinhar Receita", "", "Utilizador")</button>
                <button type="button" class="btn btn-secundary btn-lg bt">@Html.ActionLink("Favoritos", "", "Utilizador")</button>
                <button type="button" class="btn btn-secundary btn-lg bt">@Html.ActionLink("Histórico", "", "Utilizador")</button>
                <button type="button" class="btn btn-secundary btn-lg bt">@Html.ActionLink("Filtro", "", "Utilizador")</button>
                <button type="button" class="btn btn-secundary btn-lg bt">@Html.ActionLink("Plano Semanal", "", "Utilizador")</button>
                <button type="button" class="btn btn-secundary btn-lg bt">@Html.ActionLink("Avaliar Receita", "", "Utilizador")</button>
                <button type="button" class="btn btn-danger btn-lg bt">@Html.ActionLink("Terminar Sessão", "", "Utilizador")</button>
            </div>
    </div>
</body>