@model SweeTron.Models.Ingrediente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingrediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Preço)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preço)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Ingrediente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
