@model SweeTron.Models.Receita

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dificuldade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preparacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preparacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <a href="@Html.DisplayFor(model=> model.Video)"
           target="_blank">Link para o YouTube</a>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="
            @Html.DisplayFor(model => model.Foto)" width="100" height="50" />
        </dd>
        
        <dd><h6>Ingredientes:</h6></dd>

        @foreach(var ingrediente in ViewBag.Ingredientes)
        {
            <dd>
                @(ingrediente.Value) @(ingrediente.Key.Nome)
            </dd>

        }

    </dl>
</div>
<p>
    @Html.ActionLink("Iniciar confeção","Details","Passos",new { id = ViewBag.ids_passos[0], array = String.Join("-", ViewBag.ids_passos)}, null)
    @Html.ActionLink("Back to List", "Index")
</p>
